<div class="user-card-container">

  <div class="card">
    <div class="img">
      <img src="../../../assets/man-svgrepo-com.svg" />
    </div>
    <div class="infos">
      <!-- <div class="name">
        <h2>Jim Smith</h2>
    
      </div> -->
     
      <p class="name"><span>User name:</span>  Jim Smith</p>
      <p class="text"><span>Home address:</span> 123 Cherry Lane st.
        956004 Marietta.
        Atlanta / GA</p>

      <p class="text"><span>Customer number:</span> 12302139</p>
      <p class="text"><span>Card Number:</span> 1123213403</p>
      

     
    </div>
  </div>

</div>

<div >
  
</div>